<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en" xml:lang="en">

    <head>
        
                
        
        
        
        <title>Web Semántica Oviedo | Research groups - Universidad de Oviedo</title>
        
        
    
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />

        <link media="all" type="text/css" rel="stylesheet" href="/css/theme_base-c663fa161570519c0673046fd9b2623e.css?ts=1781020800" />
        <link media="all" type="text/css" rel="stylesheet" href="/css/theme_16-3786c44b5c6659f87312569737a4348c.css?ts=1781020800" />
        <link media="all" type="text/css" rel="stylesheet" href="/css/style-8c855758e24035b51af7239e05b7d6b4.css" />

        <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.9.12/dist/htmx.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>        
        <script src="/js/app-5f1057f8bbda83d62fced0b3b3aecbd8.js"></script>

        
        <link media="all" type="text/css" rel="stylesheet" href="/cookies/cookieconsent-670b37e75a82edfd7af1776c3081eac5.css"/>
        <script defer src="/cookies/cookieconsent-0a3c8bda3a0c2359787caa8bfe0cae04.js"></script>
    
        
        <link rel="alternate" hreflang="es" href="https://portalinvestigacion.uniovi.es/grupos/14083/detalle"/><link rel="alternate" hreflang="ca" href="https://portalinvestigacion.uniovi.es/grupos/14083/detalle?lang=ca"/><link rel="alternate" hreflang="eu" href="https://portalinvestigacion.uniovi.es/grupos/14083/detalle?lang=eu"/><link rel="alternate" hreflang="gl" href="https://portalinvestigacion.uniovi.es/grupos/14083/detalle?lang=gl"/><link rel="alternate" hreflang="en" href="https://portalinvestigacion.uniovi.es/grupos/14083/detalle?lang=en"/><link rel="alternate" hreflang="fr" href="https://portalinvestigacion.uniovi.es/grupos/14083/detalle?lang=fr"/><link rel="alternate" hreflang="de" href="https://portalinvestigacion.uniovi.es/grupos/14083/detalle?lang=de"/>
        <link rel="alternate" hreflang="x-default" href="https://portalinvestigacion.uniovi.es/grupos/14083/detalle"/>
        <link rel="canonical" href="https://portalinvestigacion.uniovi.es/grupos/14083/detalle?lang=en_US"/>
    
        
    </head>
    <body hx-history="false">   
        
        
        <!--button type="button" data-cc="c-settings">Show cookie settings</button-->
        <script>
            window.addEventListener('load', function () {
                /**
                 * All config. options available here:
                 * https://cookieconsent.orestbida.com/reference/configuration-reference.html
                 */
                CookieConsent.run({

                    // root: 'body',
                    // autoShow: true,
                    // disablePageInteraction: true,
                    // hideFromBots: true,
                    // mode: 'opt-in',
                    // revision: 0,

                    cookie: {
                        name: 'cc_cookie',
                        // domain: location.hostname,
                        // path: '/',
                        // sameSite: "Lax",
                        // expiresAfterDays: 365,
                    },

                    // https://cookieconsent.orestbida.com/reference/configuration-reference.html#guioptions
                    guiOptions: {
                        consentModal: {
                            layout: 'bar',
                            position: 'bottom',
                            equalWeightButtons: true,
                            flipButtons: false
                        },
                        preferencesModal: {
                            layout: 'box',
                            equalWeightButtons: true,
                            flipButtons: false
                        }
                    },

                    categories: {
                        necessary: {
                            enabled: true, // this category is enabled by default
                            readOnly: true  // this category cannot be disabled
                        },
                        analytics: {
                            autoClear: {
                                cookies: [
                                    {
                                        name: /^(_ga|_gid)/
                                    }
                                ]
                            }
                        }                        
                    },

                    language: {
                        default: 'en',
                        translations: {
                            en: {
                                consentModal: {
                                    title: "This website uses cookies",
                                    description: "This portal uses its own and third-party cookies for analytical purposes. Those related to analytical purposes will only be taken into account if you accept the cookies.",
                                    acceptAllBtn: "Allow all",
                                    acceptNecessaryBtn: "Allow only necessary",
                                    showPreferencesBtn: "Manage cookies",
                                    // closeIconLabel: 'Reject all and close modal',
                                    footer: `<a href="/aviso_legal#cookies" target="_blank">Política de cookies</a>`,
                                },
                                preferencesModal: {
                                    title: "Manage cookies",
                                    acceptAllBtn: "Allow all",
                                    acceptNecessaryBtn: "Allow only necessary",
                                    savePreferencesBtn: "Save preferences",
                                    closeIconLabel: "Close",
                                    serviceCounterLabel: 'Service|Services',
                                    sections: [
                                        {
                                            title: "Use of Cookies\uD83D\uDCE2",
                                            description: "The use of cookies guarantees the basic functionalities of the website and improves your user experience. You can choose for each category whether or not to accept at any time. For more details about cookies and other sensitive data, please read the <a href=\"\/aviso_legal#cookies\" class=\"cc-link\">Cookie Policy<\/a>."
                                        },
                                        {
                                            title: "Technical and Functional (Strictly necessary)",
                                            description: "Strictly necessary cookies help make a website navigable by activating basic functions, such as language selection, page navigation and access to secure areas of the website. Without these cookies, the site could not function properly.",

                                            //this field will generate a toggle linked to the 'necessary' category
                                            linkedCategory: 'necessary'
                                        },
                                        {
                                            title: "Statistics",
                                            description: "Statistical cookies help the website owner understand how visitors interact with the site, collecting and reporting information.",
                                            linkedCategory: 'analytics',
                                            cookieTable: {
                                                headers: {
                                                    name: "Name",
                                                    domain: "Domain",
                                                    vencimiento: "Expiration",
                                                    desc: "Description"
                                                },
                                                body: [
                                                    {
                                                        name: '_ga',
                                                        domain: 'google.com',
                                                        vencimiento: "2 years",
                                                        desc: "This cookie is installed by Google Analytics. The cookie is used to calculate the data of visitors, sessions, campaigns and to track the use of the website for the analytical report of said website. Cookies store information anonymously and assign a randomly generated number to identify unique visitors."
                                                    },
                                                    {
                                                        name: '_gat',
                                                        domain: 'google.com',
                                                        vencimiento: "1 minute",
                                                        desc: "This cookie is installed by Google Analytics. The cookie is used to store information about how visitors use the website and helps create an analytical report on how the website is performing. The data collected, including the number of visitors, the source from which they came and the pages, appeared anonymously."
                                                    },
                                                    {
                                                        name: '_gid',
                                                        domain: 'google.com',
                                                        vencimiento: "24 hours",
                                                        desc: "Google Universal Analytics sets these cookies to slow down the request rate and limit data collection on high-traffic sites."
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            title: "More information",
                                            description: "Any questions or concerns regarding the cookie policy, please <a class=\"cc-link\" href=\"\/contacto\">contact us<\/a>."
                                        }
                                    ]
                                }
                            }
                        }
                    }
                });
            });
        </script>
    
        <header class="site-header">
            
    
    
        <section class="site-header__container">
            <nav>
                <span class="site-header__logos">
                    <a class="site-header__logo site-header__logo--portal" href="/">
                        <img src="/img/logo-a41eeda6d21dfaa1b863a086b230aa03.png" alt="Research Portal Logo: Universidad de Oviedo"/>
                    </a>
                    <a target="_blank" class="site-header__logo site-header__logo--parent" href="https://www.uniovi.es/">
                        <img src="/img/parent-logo-20d80e325a34b9860623f288c21b34ef.png" alt="Logo: Universidad de Oviedo"/>
                    </a>
                </span>
                <span class="site-header__push"></span>
                
        <span class="site-header__authentication" >
            <span class="site-header__login">
                <a class="site-header__link" rel="nofollow" href="/sso/login?redirect_uri=https://portalinvestigacion.uniovi.es/grupos/14083/detalle">Sign in</a>

                
            </span>
        </span>
    
            </nav>
        </section>
        


        </header>

        <nav class="site-navbar">
            
    
    
        <div class="site-navbar__container">
            <div class="site-navbar__links">
                <a class="navbar__grupos" href="/grupos">Groups</a>
                <a class="navbar__investigadores" href="/investigadores">Researchers</a>   
                <a class="navbar__proyectos" href="/financiaciones">Funding</a>
                <a class="navbar__produccion" href="/resultados">Results</a>              
            </div>
        </div>
    





        </nav>

        <main class="content">            
            
            
            
        <div class="content-header">
            <div class="content-header__container">
                <div class="grupo-header__content">
                    
                    <div class="grupo-nombre">
                        <h1 class="original"><span class="original">WESO</span></h1>
                        <h2>Web Semántica Oviedo</h2>
                    </div>
                    
                </div>
                <div class="c-tabs">
                    
                        
                        <a class="c-tabs__tab c-tabs__tab--current"
                           href="/grupos/14083/detalle">Detail</a>

                    
                        
                        <a class="c-tabs__tab"
                           href="/grupos/14083/lineas">Research lines</a>

                    
                        
                        <a class="c-tabs__tab"
                           href="/grupos/14083/ofertas">Scientific offering</a>

                    
                        
                        

                    
                        
                        <a class="c-tabs__tab"
                           href="/grupos/14083/financiacion">Funding</a>

                    
                        
                        <a class="c-tabs__tab"
                           href="/grupos/14083/publicaciones">Publications</a>

                    
                        
                        <a class="c-tabs__tab"
                           href="/grupos/14083/colaboracion">Collaboration</a>

                    
                        
                        <a class="c-tabs__tab"
                           href="/grupos/14083/tesis">Theses</a>

                    
                        
                        

                    
                        
                        <a class="c-tabs__tab"
                           href="/grupos/14083/indicadores">Metrics</a>

                    
                </div>

                <!--<a th:if="${owner}"
                   class="c-tabs__tab c-tabs__tab&#45;&#45;account"
                   href="#" th:href="${@environment.getProperty('pciencia-account.url')}"><span th:text="#{'grupo.link.account'}">Editar</span></a>-->

            </div>
        </div>
               
            <div class="main-content">
                <section class="grupo-detalles">               
                    <div class="grupo-detalles__imagen">
                        <img src="/img/uploaded/4C49EDE857E4568223F4D2A6EDD9D4CF.jpg" width="100%" alt="Web Semántica Oviedo"/>
                    </div>

                    <div class="grupo-detalles__detalles">


                        <p class="grupo-detalles__detalle"><span>Date of inception</span> <span>28 June 2012</span></p>

                        

                        <p class="grupo-detalles__detalle">
                            <span>Leader</span>:
                            <span class="item"><a href="/investigadores/219176/detalle"><span>JOSE EMILIO LABRA GAYO</span></a></span>
                        </p>

                        <p class="grupo-detalles__detalle">
                            <span>Department</span>:
                            <a href="/unidades/6069/detalle"><span>Informática</span></a>
                        </p>

                                        
                        
                        <p class="grupo-detalles__detalle">
                            <span>Website</span>:
                            <a href="https://www.weso.es/"><span>https://www.weso.es/</span></a>
                        </p>
                        
                        
                        
                        
                    </div>

                </section>

                
        
    

                <section id="grupo-detalles-descripcion">
                    <div>
                        
                    </div>
                </section>

                
        
    

                <section id="miembros" class="grupo-miembros">
                    <h2 class="section-title section-title--filterable">
                        <span>Researchers</span>

                        <div class="c-filter">
                            <button class="c-filter__btn btn btn-secondary">Filter</button>
                            <input class="c-filter__size" type="hidden" name="size" value="23"/>
                            <input class="c-filter__input" placeholder="Filter by first and last name" name="termino" type="text" style="display:none;" aria-label="Filter by first and last name" />
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    new FilterComponent("miembros/filtrar", "personas", "#miembros", ".grupo-miembros__item").init();
                                });
                            </script>
                        </div>
                    </h2>

                    <div class="grupo-miembros__items">
                        <div data-id="219176" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/219176/detalle">
                                        <img loading="lazy" src="/img/uploaded/3D769F926EE5663A2DFF4FF7584155AA.png" alt="Foto de JOSE EMILIO"
                                             title="Foto de JOSE EMILIO" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/219176/detalle">
                                        
                                        <div class="c-persona-card__nombre">JOSE EMILIO</div>
                                        <div class="c-persona-card__apellidos">LABRA GAYO</div>
                                    </a>
                                    <div class="c-persona-card__rol">Leader</div>
                                </div>
                            </div>
                        </div>
                        <div data-id="452932" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/452932/detalle">
                                        <img loading="lazy" src="/img/uploaded/DF798FBBAA8D41F40CAEAC98FFC893EA.jpg" alt="Foto de JORGE"
                                             title="Foto de JORGE" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/452932/detalle">
                                        
                                        <div class="c-persona-card__nombre">JORGE</div>
                                        <div class="c-persona-card__apellidos">ALVAREZ FIDALGO</div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div data-id="219680" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/219680/detalle">
                                        <img loading="lazy" src="/img/uploaded/550A2191CE6CCC62CBF7F5BA353F6C36.jpg" alt="Foto de DANIEL"
                                             title="Foto de DANIEL" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/219680/detalle">
                                        
                                        <div class="c-persona-card__nombre">DANIEL</div>
                                        <div class="c-persona-card__apellidos">FERNANDEZ ALVAREZ</div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div data-id="1010307" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/1010307/detalle">
                                        <img loading="lazy" src="/img/uploaded/A22DBB7B85066B30BA7C7266EEB0D929.png" alt="Foto de ANGEL"
                                             title="Foto de ANGEL" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/1010307/detalle">
                                        
                                        <div class="c-persona-card__nombre">ANGEL</div>
                                        <div class="c-persona-card__apellidos">GARCIA MENENDEZ</div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div data-id="219154" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/219154/detalle">
                                        <img loading="lazy" src="/img/uploaded/B6EB195DA9D5F2DE5780262A9361738A.jpg" alt="Foto de DANIEL"
                                             title="Foto de DANIEL" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/219154/detalle">
                                        
                                        <div class="c-persona-card__nombre">DANIEL</div>
                                        <div class="c-persona-card__apellidos">GAYO AVELLO</div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div data-id="219189" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/219189/detalle">
                                        <img loading="lazy" src="/img/nophoto-11a61d72634ad47789f777a6311393e0.png" alt="Foto de MARIA CANDIDA"
                                             title="Foto de MARIA CANDIDA" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/219189/detalle">
                                        
                                        <div class="c-persona-card__nombre">MARIA CANDIDA</div>
                                        <div class="c-persona-card__apellidos">LUENGO DIEZ</div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div data-id="2014334" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/2014334/detalle">
                                        <img loading="lazy" src="/img/uploaded/FBC794FEBBE6E199F78A50E7C7C1095E.jpg" alt="Foto de DIEGO"
                                             title="Foto de DIEGO" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/2014334/detalle">
                                        
                                        <div class="c-persona-card__nombre">DIEGO</div>
                                        <div class="c-persona-card__apellidos">MARTIN FERNANDEZ</div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div data-id="218055" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/218055/detalle">
                                        <img loading="lazy" src="/img/nophoto-11a61d72634ad47789f777a6311393e0.png" alt="Foto de PATRICIA"
                                             title="Foto de PATRICIA" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/218055/detalle">
                                        
                                        <div class="c-persona-card__nombre">PATRICIA</div>
                                        <div class="c-persona-card__apellidos">ORDOÑEZ DE PABLOS</div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div data-id="1010407" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/1010407/detalle">
                                        <img loading="lazy" src="/img/uploaded/B0860ED8AF9D560F14A9C9CDA21E615C.jpg" alt="Foto de ENRIQUE JOSE"
                                             title="Foto de ENRIQUE JOSE" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/1010407/detalle">
                                        
                                        <div class="c-persona-card__nombre">ENRIQUE JOSE</div>
                                        <div class="c-persona-card__apellidos">RODRIGUEZ MARTIN</div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                
        
    

                <section>
                    <h2 class="section-title">Classifications</h2>
                    <ul class="grupo-clasificaciones">     
                        <li>
                            <span>area-rama-conocimiento: </span>
                            <span>Ingeniería y Arquitectura</span>
                        </li>
                    </ul>
                </section>

                
        
    

                <section class="grupo-miembros">
                    <h2 class="section-title">Contributors</h2>

                    <div class="grupo-miembros__items">
                        <div data-id="220340" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/220340/detalle">
                                        <img loading="lazy" src="/img/nophoto-11a61d72634ad47789f777a6311393e0.png" alt="Foto de FRANCISCO ADOLFO"
                                             title="Foto de FRANCISCO ADOLFO" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/220340/detalle">
                                        
                                        <div class="c-persona-card__nombre">FRANCISCO ADOLFO</div>
                                        <div class="c-persona-card__apellidos">CIFUENTES SILVA</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>    
                </section>

                <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    

    
</html>


                <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    
    
    <section class="publicaciones-topics-topn">
        <h2 class="section-title">
            <span>beta</span>
            Prevailing specialties (top 8)
            <a href="#" class="publicaciones-topics-topn-help">
                <small>Obtained from publications <i class="material-icons">help</i></small>
            </a>
            <div class="publicaciones-topics-topn-help publicaciones-topics-topn-help-detail">
                <small>Obtained from publications</small>
                <p>The displayed thematic specialties have been obtained through the application of artificial intelligence models, derived as a result of the Hercules Project from those publications with an abstract, provided that the record does not come from commercial databases, which impose restrictions on data usage.</p>
                <footer class="publicaciones-topics-topn-help-disclaimer">The list may contain errors. Under evaluation and improvement. Shared to gather community suggestions.</footer>
            </div>
        </h2>
        <ol>
            <li style='color: #ff0000'>
                <a href="publicaciones?herculesThematic=Databases" title='Filter publications by &quot;Databases&quot;' style="width: 100%">
                    Databases (Computer Science) <small class="topic-hover-feedback">Filter</small>
                    <span class="bar" data-value="2" style="width: 100%"></span>                    
                </a>
            </li>
            <li style='color: #ffff00'>
                <a href="publicaciones?herculesThematic=Education" title='Filter publications by &quot;Education&quot;' style="width: 100%">
                    Education (Social Sciences) <small class="topic-hover-feedback">Filter</small>
                    <span class="bar" data-value="2" style="width: 100%"></span>                    
                </a>
            </li>
            <li style='color: #ff0000'>
                <a href="publicaciones?herculesThematic=Artificial%20Intelligence" title='Filter publications by &quot;Artificial Intelligence&quot;' style="width: 50%">
                    Artificial Intelligence (Computer Science) <small class="topic-hover-feedback">Filter</small>
                    <span class="bar" data-value="1" style="width: 100%"></span>                    
                </a>
            </li>
            <li style='color: #0000ff'>
                <a href="publicaciones?herculesThematic=Biotechnology" title='Filter publications by &quot;Biotechnology&quot;' style="width: 50%">
                    Biotechnology (Biochemistry, Genetics and Molecular Biology) <small class="topic-hover-feedback">Filter</small>
                    <span class="bar" data-value="1" style="width: 100%"></span>                    
                </a>
            </li>
            <li style='color: #ff0000'>
                <a href="publicaciones?herculesThematic=Ecology" title='Filter publications by &quot;Ecology&quot;' style="width: 50%">
                    Ecology (Environmental Science) <small class="topic-hover-feedback">Filter</small>
                    <span class="bar" data-value="1" style="width: 100%"></span>                    
                </a>
            </li>
            <li style='color: #ff0000'>
                <a href="publicaciones?herculesThematic=General%20Computer%20Science" title='Filter publications by &quot;General Computer Science&quot;' style="width: 50%">
                    General Computer Science (Computer Science) <small class="topic-hover-feedback">Filter</small>
                    <span class="bar" data-value="1" style="width: 100%"></span>                    
                </a>
            </li>
            <li style='color: #ff0000'>
                <a href="publicaciones?herculesThematic=Information%20Systems" title='Filter publications by &quot;Information Systems&quot;' style="width: 50%">
                    Information Systems (Computer Science) <small class="topic-hover-feedback">Filter</small>
                    <span class="bar" data-value="1" style="width: 100%"></span>                    
                </a>
            </li>
            <li style='color: #ffff00'>
                <a href="publicaciones?herculesThematic=Library%20and%20Information%20Sciences" title='Filter publications by &quot;Library and Information Sciences&quot;' style="width: 50%">
                    Library and Information Sciences (Social Sciences) <small class="topic-hover-feedback">Filter</small>
                    <span class="bar" data-value="1" style="width: 100%"></span>                    
                </a>
            </li>
        </ol>        
    </section>
</html> 


                
        
    
                
                <section id="ex-miembros" class="grupo-miembros">
                    <h2 class="section-title section-title--filterable">
                        Former members (13)  
                    </h2>
                    <ul >
                        <li data-id="220342">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/220342/detalle">
                                    
                                    <span class="c-persona-card__apellidos">ALEXIUS JOOS,</span>
                                    <span class="c-persona-card__nombre">FILIP</span></a>                             
                                
                                <span class="c-persona-card__rol">Contributor</span>
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2017</span><span class="fechaFin">2024</span></span>
                            </span>                       
                        </li>
                        <li data-id="452932">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/452932/detalle">
                                    
                                    <span class="c-persona-card__apellidos">ALVAREZ FIDALGO,</span>
                                    <span class="c-persona-card__nombre">JORGE</span></a>                             
                                
                                
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2024</span><span class="fechaFin">2024</span></span>
                            </span>                       
                        </li>
                        <li data-id="220352">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/220352/detalle">
                                    
                                    <span class="c-persona-card__apellidos">ALVAREZ ONDINA,</span>
                                    <span class="c-persona-card__nombre">PAULINO</span></a>                             
                                
                                
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2020</span><span class="fechaFin">2021</span></span>
                            </span>                       
                        </li>
                        <li data-id="220343">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/220343/detalle">
                                    
                                    <span class="c-persona-card__apellidos">ALVAREZ RODRIGUEZ,</span>
                                    <span class="c-persona-card__nombre">JOSE MARIA</span></a>                             
                                
                                <span class="c-persona-card__rol">Contributor</span>
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2012</span><span class="fechaFin">2012</span></span>
                            </span>                       
                        </li>
                        <li data-id="220337">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/220337/detalle">
                                    
                                    <span class="c-persona-card__apellidos">ARAVENA DIAZ,</span>
                                    <span class="c-persona-card__nombre">VICTOR HUGO</span></a>                             
                                
                                <span class="c-persona-card__rol">Contributor</span>
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2017</span><span class="fechaFin">2024</span></span>
                            </span>                       
                        </li>
                        <li data-id="219103">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/219103/detalle">
                                    
                                    <span class="c-persona-card__apellidos">CERNEA CORBEANU,</span>
                                    <span class="c-persona-card__nombre">ANA</span></a>                             
                                
                                
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2012</span><span class="fechaFin">2018</span></span>
                            </span>                       
                        </li>
                        <li data-id="220353">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/220353/detalle">
                                    
                                    <span class="c-persona-card__apellidos">CERNUDA DEL RIO,</span>
                                    <span class="c-persona-card__nombre">AGUSTIN</span></a>                             
                                
                                
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2012</span><span class="fechaFin">2017</span></span>
                            </span>                       
                        </li>
                        <li data-id="1010307">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/1010307/detalle">
                                    
                                    <span class="c-persona-card__apellidos">GARCIA MENENDEZ,</span>
                                    <span class="c-persona-card__nombre">ANGEL</span></a>                             
                                
                                
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2024</span><span class="fechaFin">2024</span></span>
                            </span>                       
                        </li>
                        <li data-id="219174">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/219174/detalle">
                                    
                                    <span class="c-persona-card__apellidos">JUAN FUENTE,</span>
                                    <span class="c-persona-card__nombre">AQUILINO ADOLFO</span></a>                             
                                
                                
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2017</span><span class="fechaFin">2025</span></span>
                            </span>                       
                        </li>
                        <li data-id="217732">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/217732/detalle">
                                    
                                    <span class="c-persona-card__apellidos">LEBREDO BUJAN,</span>
                                    <span class="c-persona-card__nombre">HUGO</span></a>                             
                                
                                
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2023</span><span class="fechaFin">2024</span></span>
                            </span>                       
                        </li>
                        <li data-id="220338">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/220338/detalle">
                                    
                                    <span class="c-persona-card__apellidos">MONTES GARCIA,</span>
                                    <span class="c-persona-card__nombre">ALEJANDRO</span></a>                             
                                
                                <span class="c-persona-card__rol">Contributor</span>
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2017</span><span class="fechaFin">2024</span></span>
                            </span>                       
                        </li>
                        <li data-id="220341">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/220341/detalle">
                                    
                                    <span class="c-persona-card__apellidos">RODRIGUEZ GONZALEZ,</span>
                                    <span class="c-persona-card__nombre">ALEJANDRO</span></a>                             
                                
                                <span class="c-persona-card__rol">Contributor</span>
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2012</span><span class="fechaFin">2015</span></span>
                            </span>                       
                        </li>
                        <li data-id="1010407">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/1010407/detalle">
                                    
                                    <span class="c-persona-card__apellidos">RODRIGUEZ MARTIN,</span>
                                    <span class="c-persona-card__nombre">ENRIQUE JOSE</span></a>                             
                                
                                
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2024</span><span class="fechaFin">2024</span></span>
                            </span>                       
                        </li>
                    </ul>
                </section>

                
        
    


            </div>

        
        </main>

        <nav class="site-navfooter">
            
    
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul>
                        
                        <li><a href="/contacto">Contact</a></li>
                        
                        <li><a href="/aviso_legal">Legal notice</a></li>
                        <li><a href="/mapa_sitio">Site map</a></li>
                        
                    </ul>                                        
                </div>
                <div>
        <div class="c-langselect">
            <a href="https://portalinvestigacion.uniovi.es/grupos/14083/detalle" tabindex="0" class="c-langselect--trigger" title="Change language">
                <i class="material-icons material-icons--translate">translate</i> en <i class="material-icons">arrow_drop_down</i>
            </a>
            
            <div class="mdc-menu mdc-menu-surface">
                <div class="mdc-list">
                    <a href="https://portalinvestigacion.uniovi.es/grupos/14083/detalle?lang=en" title="English">
                        <i class="material-icons material-icons--translate">translate</i> en <i class="material-icons">arrow_drop_down</i>
                    </a>
                    <a class="mdc-list-item" href="https://portalinvestigacion.uniovi.es/grupos/14083/detalle?lang=es"
                       data-lang="es"
                       onclick="document.cookie=&#39;pciencia.LOCALE=&#39;+this.dataset.lang"
                       title="Español">
                        es
                    </a><a class="mdc-list-item" href="https://portalinvestigacion.uniovi.es/grupos/14083/detalle?lang=ca"
                       data-lang="ca"
                       onclick="document.cookie=&#39;pciencia.LOCALE=&#39;+this.dataset.lang"
                       title="Català i valencià">
                        ca
                    </a><a class="mdc-list-item" href="https://portalinvestigacion.uniovi.es/grupos/14083/detalle?lang=eu"
                       data-lang="eu"
                       onclick="document.cookie=&#39;pciencia.LOCALE=&#39;+this.dataset.lang"
                       title="Euskara">
                        eu
                    </a><a class="mdc-list-item" href="https://portalinvestigacion.uniovi.es/grupos/14083/detalle?lang=gl"
                       data-lang="gl"
                       onclick="document.cookie=&#39;pciencia.LOCALE=&#39;+this.dataset.lang"
                       title="Galego">
                        gl
                    </a><a class="mdc-list-item" href="https://portalinvestigacion.uniovi.es/grupos/14083/detalle?lang=en"
                       data-lang="en"
                       onclick="document.cookie=&#39;pciencia.LOCALE=&#39;+this.dataset.lang"
                       title="English">
                        en
                    </a><a class="mdc-list-item" href="https://portalinvestigacion.uniovi.es/grupos/14083/detalle?lang=fr"
                       data-lang="fr"
                       onclick="document.cookie=&#39;pciencia.LOCALE=&#39;+this.dataset.lang"
                       title="Francais">
                        fr
                    </a><a class="mdc-list-item" href="https://portalinvestigacion.uniovi.es/grupos/14083/detalle?lang=de"
                       data-lang="de"
                       onclick="document.cookie=&#39;pciencia.LOCALE=&#39;+this.dataset.lang"
                       title="Deutsch">
                        de
                    </a>
                </div>
            </div>
        </div>        
    </div>
            </div>
        </div>
    

        </nav>
        <footer class="site-footer">
            
    
    
        <section class="site-footer__container">
            <div class="site-footer__inner">
                <div class="site-footer__column">
                    <span class="site-footer__column-title">Relevants</span>
                    <ul class="site-footer__nav">
                        <li><a target="_blank" href="https://www.uniovi.es/">Oviedo University</a></li>
                        <li><a target="_blank" href="https://buo.uniovi.es/">Library</a></li>
                        <li><a target="_blank" href="https://digibuo.uniovi.es/dspace/">RUO</a></li>
                        <li><a target="_blank" href="https://accesoabiertouniovi.wordpress.com/">Blog Difunde Uniovi</a></li>
                    </ul>
                </div>
                <div class="site-footer__column">
                    <span class="site-footer__column-title">Research</span>
                    <ul class="site-footer__nav">
                        <li><a target="_blank" href="https://www.uniovi.es/en/conocenos/gobierno/vicerrectorados/investigacion">Research Vice-rectorate</a></li>
                        <li><a target="_blank" href="https://www.uniovi.es/conocenos/gobierno/vicerrectorados/transferencia">Knowledge Transfer Vice-rectorate</a></li>
                    </ul>
                </div>
                <div class="site-footer__column">
                    

    
        <div class="site-footer__column--social">
            <span class="site-footer__column-title">UniOvi in the network</span>
            <ul>
                <li>
                    <a target="_blank" href="https://www.facebook.com/UniversidadOviedo">
                        <img src="/img/social/facebook.png" alt="Facebook"/>
                        Facebook
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://bsky.app/profile/universidadoviedo.bsky.social">
                        <img src="/img/social/bsky.png" alt="BlueSky"/>
                        BlueSky
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/accounts/login/?next=/universidad_de_oviedo/">
                        <img src="/img/social/instagram.png" alt="Instagram"/>
                        Instagram
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.youtube.com/user/uniovi">
                        <img src="/img/social/youtube.png" alt="Youtube"/>
                        Youtube
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/school/uniovi/mycompany/verification/">
                        <img src="/img/social/linkedin.png" alt="LinkedIn"/>
                        LinkedIn
                    </a>
                </li>
            </ul>
        </div>
    
    

                </div>
            </div>
            <div class="site-footer__colaboracion">
                <p>With the collaboration of: </p>
                <div class="site-footer__logo">
                    <img src="/img/ministerio-fecyt-con-banderas-01_JPG.jpg" alt="Logo Ministerio Fecyt"/>
                </div>
            </div>
        </section>
    
    

            
    
    
        <div class="site-actualizacion__container">
            <div class="info-container">
                Data updated as of:
                16-07-2026
                <i class="material-icons">info</i>
                <div class="info-content">
                    <p>Portal documents are updated daily. This date refers to the updating of information related to the portal structure (people, research groups, organizational units, projects...).</p>
                </div>
            </div>
        </div>
    

            
    
    
        <div class="site-footer__copyright">
            <div>
                <span>CRIS project developed in collaboration with <strong><a target="_blank" href="https://fundaciondialnet.unirioja.es/" class="externo">Fundación Dialnet</a> (<a target="_blank" href="https://www.unirioja.es/" class="externo">University of La Rioja</a>)</strong></span>
            </div>
        </div>       
        


        </footer>

        






        

    

    
    

        
    </body>
</html>
