<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en" xml:lang="en">

    <head>
        
                
        
        
        
        <title>Catálisis, Reactores y Control (CRC) | Research groups - Universidad de Oviedo</title>
        
        
    
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />

        <link media="all" type="text/css" rel="stylesheet" href="/css/theme_base-c663fa161570519c0673046fd9b2623e.css?ts=1781020800" />
        <link media="all" type="text/css" rel="stylesheet" href="/css/theme_16-3786c44b5c6659f87312569737a4348c.css?ts=1781020800" />
        <link media="all" type="text/css" rel="stylesheet" href="/css/style-8c855758e24035b51af7239e05b7d6b4.css" />

        <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.9.12/dist/htmx.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>        
        <script src="/js/app-5f1057f8bbda83d62fced0b3b3aecbd8.js"></script>

        
        <link media="all" type="text/css" rel="stylesheet" href="/cookies/cookieconsent-670b37e75a82edfd7af1776c3081eac5.css"/>
        <script defer src="/cookies/cookieconsent-0a3c8bda3a0c2359787caa8bfe0cae04.js"></script>
    
        
        <link rel="alternate" hreflang="es" href="https://portalinvestigacion.uniovi.es/grupos/13968/detalle"/><link rel="alternate" hreflang="ca" href="https://portalinvestigacion.uniovi.es/grupos/13968/detalle?lang=ca"/><link rel="alternate" hreflang="eu" href="https://portalinvestigacion.uniovi.es/grupos/13968/detalle?lang=eu"/><link rel="alternate" hreflang="gl" href="https://portalinvestigacion.uniovi.es/grupos/13968/detalle?lang=gl"/><link rel="alternate" hreflang="en" href="https://portalinvestigacion.uniovi.es/grupos/13968/detalle?lang=en"/><link rel="alternate" hreflang="fr" href="https://portalinvestigacion.uniovi.es/grupos/13968/detalle?lang=fr"/><link rel="alternate" hreflang="de" href="https://portalinvestigacion.uniovi.es/grupos/13968/detalle?lang=de"/>
        <link rel="alternate" hreflang="x-default" href="https://portalinvestigacion.uniovi.es/grupos/13968/detalle"/>
        <link rel="canonical" href="https://portalinvestigacion.uniovi.es/grupos/13968/detalle?lang=en_US"/>
    
        
    </head>
    <body hx-history="false">   
        
        
        <!--button type="button" data-cc="c-settings">Show cookie settings</button-->
        <script>
            window.addEventListener('load', function () {
                /**
                 * All config. options available here:
                 * https://cookieconsent.orestbida.com/reference/configuration-reference.html
                 */
                CookieConsent.run({

                    // root: 'body',
                    // autoShow: true,
                    // disablePageInteraction: true,
                    // hideFromBots: true,
                    // mode: 'opt-in',
                    // revision: 0,

                    cookie: {
                        name: 'cc_cookie',
                        // domain: location.hostname,
                        // path: '/',
                        // sameSite: "Lax",
                        // expiresAfterDays: 365,
                    },

                    // https://cookieconsent.orestbida.com/reference/configuration-reference.html#guioptions
                    guiOptions: {
                        consentModal: {
                            layout: 'bar',
                            position: 'bottom',
                            equalWeightButtons: true,
                            flipButtons: false
                        },
                        preferencesModal: {
                            layout: 'box',
                            equalWeightButtons: true,
                            flipButtons: false
                        }
                    },

                    categories: {
                        necessary: {
                            enabled: true, // this category is enabled by default
                            readOnly: true  // this category cannot be disabled
                        },
                        analytics: {
                            autoClear: {
                                cookies: [
                                    {
                                        name: /^(_ga|_gid)/
                                    }
                                ]
                            }
                        }                        
                    },

                    language: {
                        default: 'en',
                        translations: {
                            en: {
                                consentModal: {
                                    title: "This website uses cookies",
                                    description: "This portal uses its own and third-party cookies for analytical purposes. Those related to analytical purposes will only be taken into account if you accept the cookies.",
                                    acceptAllBtn: "Allow all",
                                    acceptNecessaryBtn: "Allow only necessary",
                                    showPreferencesBtn: "Manage cookies",
                                    // closeIconLabel: 'Reject all and close modal',
                                    footer: `<a href="/aviso_legal#cookies" target="_blank">Política de cookies</a>`,
                                },
                                preferencesModal: {
                                    title: "Manage cookies",
                                    acceptAllBtn: "Allow all",
                                    acceptNecessaryBtn: "Allow only necessary",
                                    savePreferencesBtn: "Save preferences",
                                    closeIconLabel: "Close",
                                    serviceCounterLabel: 'Service|Services',
                                    sections: [
                                        {
                                            title: "Use of Cookies\uD83D\uDCE2",
                                            description: "The use of cookies guarantees the basic functionalities of the website and improves your user experience. You can choose for each category whether or not to accept at any time. For more details about cookies and other sensitive data, please read the <a href=\"\/aviso_legal#cookies\" class=\"cc-link\">Cookie Policy<\/a>."
                                        },
                                        {
                                            title: "Technical and Functional (Strictly necessary)",
                                            description: "Strictly necessary cookies help make a website navigable by activating basic functions, such as language selection, page navigation and access to secure areas of the website. Without these cookies, the site could not function properly.",

                                            //this field will generate a toggle linked to the 'necessary' category
                                            linkedCategory: 'necessary'
                                        },
                                        {
                                            title: "Statistics",
                                            description: "Statistical cookies help the website owner understand how visitors interact with the site, collecting and reporting information.",
                                            linkedCategory: 'analytics',
                                            cookieTable: {
                                                headers: {
                                                    name: "Name",
                                                    domain: "Domain",
                                                    vencimiento: "Expiration",
                                                    desc: "Description"
                                                },
                                                body: [
                                                    {
                                                        name: '_ga',
                                                        domain: 'google.com',
                                                        vencimiento: "2 years",
                                                        desc: "This cookie is installed by Google Analytics. The cookie is used to calculate the data of visitors, sessions, campaigns and to track the use of the website for the analytical report of said website. Cookies store information anonymously and assign a randomly generated number to identify unique visitors."
                                                    },
                                                    {
                                                        name: '_gat',
                                                        domain: 'google.com',
                                                        vencimiento: "1 minute",
                                                        desc: "This cookie is installed by Google Analytics. The cookie is used to store information about how visitors use the website and helps create an analytical report on how the website is performing. The data collected, including the number of visitors, the source from which they came and the pages, appeared anonymously."
                                                    },
                                                    {
                                                        name: '_gid',
                                                        domain: 'google.com',
                                                        vencimiento: "24 hours",
                                                        desc: "Google Universal Analytics sets these cookies to slow down the request rate and limit data collection on high-traffic sites."
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            title: "More information",
                                            description: "Any questions or concerns regarding the cookie policy, please <a class=\"cc-link\" href=\"\/contacto\">contact us<\/a>."
                                        }
                                    ]
                                }
                            }
                        }
                    }
                });
            });
        </script>
    
        <header class="site-header">
            
    
    
        <section class="site-header__container">
            <nav>
                <span class="site-header__logos">
                    <a class="site-header__logo site-header__logo--portal" href="/">
                        <img src="/img/logo-a41eeda6d21dfaa1b863a086b230aa03.png" alt="Research Portal Logo: Universidad de Oviedo"/>
                    </a>
                    <a target="_blank" class="site-header__logo site-header__logo--parent" href="https://www.uniovi.es/">
                        <img src="/img/parent-logo-20d80e325a34b9860623f288c21b34ef.png" alt="Logo: Universidad de Oviedo"/>
                    </a>
                </span>
                <span class="site-header__push"></span>
                
        <span class="site-header__authentication" >
            <span class="site-header__login">
                <a class="site-header__link" rel="nofollow" href="/sso/login?redirect_uri=https://portalinvestigacion.uniovi.es/grupos/13968/detalle">Sign in</a>

                
            </span>
        </span>
    
            </nav>
        </section>
        


        </header>

        <nav class="site-navbar">
            
    
    
        <div class="site-navbar__container">
            <div class="site-navbar__links">
                <a class="navbar__grupos" href="/grupos">Groups</a>
                <a class="navbar__investigadores" href="/investigadores">Researchers</a>   
                <a class="navbar__proyectos" href="/financiaciones">Funding</a>
                <a class="navbar__produccion" href="/resultados">Results</a>              
            </div>
        </div>
    





        </nav>

        <main class="content">            
            
            
            
        <div class="content-header">
            <div class="content-header__container">
                <div class="grupo-header__content">
                    
                    <div class="grupo-nombre">
                        <h1 class="original"><span class="original">CRC</span></h1>
                        <h2>Catálisis, Reactores y Control (CRC)</h2>
                    </div>
                    
                </div>
                <div class="c-tabs">
                    
                        
                        <a class="c-tabs__tab c-tabs__tab--current"
                           href="/grupos/13968/detalle">Detail</a>

                    
                        
                        

                    
                        
                        

                    
                        
                        

                    
                        
                        <a class="c-tabs__tab"
                           href="/grupos/13968/financiacion">Funding</a>

                    
                        
                        <a class="c-tabs__tab"
                           href="/grupos/13968/publicaciones">Publications</a>

                    
                        
                        <a class="c-tabs__tab"
                           href="/grupos/13968/colaboracion">Collaboration</a>

                    
                        
                        <a class="c-tabs__tab"
                           href="/grupos/13968/tesis">Theses</a>

                    
                        
                        <a class="c-tabs__tab"
                           href="/grupos/13968/patentes">Patents</a>

                    
                        
                        <a class="c-tabs__tab"
                           href="/grupos/13968/indicadores">Metrics</a>

                    
                </div>

                <!--<a th:if="${owner}"
                   class="c-tabs__tab c-tabs__tab&#45;&#45;account"
                   href="#" th:href="${@environment.getProperty('pciencia-account.url')}"><span th:text="#{'grupo.link.account'}">Editar</span></a>-->

            </div>
        </div>
               
            <div class="main-content">
                <section class="grupo-detalles">               
                    <div class="grupo-detalles__imagen">
                        <img src="/img/uploaded/1096D42D8DFFAEF8104091BA25B774A9.png" width="100%" alt="Catálisis, Reactores y Control (CRC)"/>
                    </div>

                    <div class="grupo-detalles__detalles">


                        <p class="grupo-detalles__detalle"><span>Date of inception</span> <span>17 October 2013</span></p>

                        

                        <p class="grupo-detalles__detalle">
                            <span>Leader</span>:
                            <span class="item"><a href="/investigadores/218054/detalle"><span>SALVADOR ORDOÑEZ GARCIA</span></a></span>
                        </p>

                        <p class="grupo-detalles__detalle">
                            <span>Department</span>:
                            <a href="/unidades/6071/detalle"><span>Ingeniería Química y Tecnología del Medio Ambiente</span></a>
                        </p>

                                        
                        
                        <p class="grupo-detalles__detalle">
                            <span>Website</span>:
                            <a href="https://crc.grupos.uniovi.es/"><span>https://crc.grupos.uniovi.es/</span></a>
                        </p>
                        
                        
                        
                        
                    </div>

                </section>

                
        
    

                <section id="grupo-detalles-descripcion">
                    <div>
                        
                    </div>
                </section>

                
        
    

                <section id="miembros" class="grupo-miembros">
                    <h2 class="section-title section-title--filterable">
                        <span>Researchers</span>

                        <div class="c-filter">
                            <button class="c-filter__btn btn btn-secondary">Filter</button>
                            <input class="c-filter__size" type="hidden" name="size" value="29"/>
                            <input class="c-filter__input" placeholder="Filter by first and last name" name="termino" type="text" style="display:none;" aria-label="Filter by first and last name" />
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    new FilterComponent("miembros/filtrar", "personas", "#miembros", ".grupo-miembros__item").init();
                                });
                            </script>
                        </div>
                    </h2>

                    <div class="grupo-miembros__items">
                        <div data-id="218054" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/218054/detalle">
                                        <img loading="lazy" src="/img/uploaded/A3DCC60026B1B4431151C3433572367A.jpg" alt="Foto de SALVADOR"
                                             title="Foto de SALVADOR" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/218054/detalle">
                                        
                                        <div class="c-persona-card__nombre">SALVADOR</div>
                                        <div class="c-persona-card__apellidos">ORDOÑEZ GARCIA</div>
                                    </a>
                                    <div class="c-persona-card__rol">Leader</div>
                                </div>
                            </div>
                        </div>
                        <div data-id="217103" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/217103/detalle">
                                        <img loading="lazy" src="/img/nophoto-11a61d72634ad47789f777a6311393e0.png" alt="Foto de EVA"
                                             title="Foto de EVA" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/217103/detalle">
                                        
                                        <div class="c-persona-card__nombre">EVA</div>
                                        <div class="c-persona-card__apellidos">DIAZ FERNANDEZ</div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div data-id="217138" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/217138/detalle">
                                        <img loading="lazy" src="/img/nophoto-11a61d72634ad47789f777a6311393e0.png" alt="Foto de FERNANDO VALERIANO"
                                             title="Foto de FERNANDO VALERIANO" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/217138/detalle">
                                        
                                        <div class="c-persona-card__nombre">FERNANDO VALERIANO</div>
                                        <div class="c-persona-card__apellidos">DIEZ SANZ</div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div data-id="217173" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/217173/detalle">
                                        <img loading="lazy" src="/img/nophoto-11a61d72634ad47789f777a6311393e0.png" alt="Foto de LAURA"
                                             title="Foto de LAURA" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/217173/detalle">
                                        
                                        <div class="c-persona-card__nombre">LAURA</div>
                                        <div class="c-persona-card__apellidos">FABA PEON</div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div data-id="218782" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/218782/detalle">
                                        <img loading="lazy" src="/img/nophoto-11a61d72634ad47789f777a6311393e0.png" alt="Foto de ADRIAN"
                                             title="Foto de ADRIAN" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/218782/detalle">
                                        
                                        <div class="c-persona-card__nombre">ADRIAN</div>
                                        <div class="c-persona-card__apellidos">GARCIA DIAZ</div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div data-id="2237797" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/2237797/detalle">
                                        <img loading="lazy" src="/img/nophoto-11a61d72634ad47789f777a6311393e0.png" alt="Foto de AMARDIPSING SANJAYSING"
                                             title="Foto de AMARDIPSING SANJAYSING" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/2237797/detalle">
                                        
                                        <div class="c-persona-card__nombre">AMARDIPSING SANJAYSING</div>
                                        <div class="c-persona-card__apellidos">GIRASE</div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div data-id="1010329" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/1010329/detalle">
                                        <img loading="lazy" src="/img/nophoto-11a61d72634ad47789f777a6311393e0.png" alt="Foto de MARINA"
                                             title="Foto de MARINA" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/1010329/detalle">
                                        
                                        <div class="c-persona-card__nombre">MARINA</div>
                                        <div class="c-persona-card__apellidos">ILKAEVA</div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div data-id="217671" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/217671/detalle">
                                        <img loading="lazy" src="/img/nophoto-11a61d72634ad47789f777a6311393e0.png" alt="Foto de IGOR"
                                             title="Foto de IGOR" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/217671/detalle">
                                        
                                        <div class="c-persona-card__nombre">IGOR</div>
                                        <div class="c-persona-card__apellidos">KRIVTSOV</div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div data-id="217930" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/217930/detalle">
                                        <img loading="lazy" src="/img/nophoto-11a61d72634ad47789f777a6311393e0.png" alt="Foto de PABLO"
                                             title="Foto de PABLO" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/217930/detalle">
                                        
                                        <div class="c-persona-card__nombre">PABLO</div>
                                        <div class="c-persona-card__apellidos">MARIN GONZALEZ</div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div data-id="218093" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/218093/detalle">
                                        <img loading="lazy" src="/img/nophoto-11a61d72634ad47789f777a6311393e0.png" alt="Foto de YOLANDA"
                                             title="Foto de YOLANDA" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/218093/detalle">
                                        
                                        <div class="c-persona-card__nombre">YOLANDA</div>
                                        <div class="c-persona-card__apellidos">PATIÑO MENENDEZ</div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div data-id="219386" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/219386/detalle">
                                        <img loading="lazy" src="/img/uploaded/0E193F8AAEE1B67454B9FD17995EC933.jpg" alt="Foto de RAQUEL"
                                             title="Foto de RAQUEL" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/219386/detalle">
                                        
                                        <div class="c-persona-card__nombre">RAQUEL</div>
                                        <div class="c-persona-card__apellidos">PELAEZ FERNANDEZ</div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div data-id="1301831" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/1301831/detalle">
                                        <img loading="lazy" src="/img/nophoto-11a61d72634ad47789f777a6311393e0.png" alt="Foto de ISABEL"
                                             title="Foto de ISABEL" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/1301831/detalle">
                                        
                                        <div class="c-persona-card__nombre">ISABEL</div>
                                        <div class="c-persona-card__apellidos">PRIETO SORIA</div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div data-id="2237796" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/2237796/detalle">
                                        <img loading="lazy" src="/img/nophoto-11a61d72634ad47789f777a6311393e0.png" alt="Foto de DANIEL FELIPE"
                                             title="Foto de DANIEL FELIPE" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/2237796/detalle">
                                        
                                        <div class="c-persona-card__nombre">DANIEL FELIPE</div>
                                        <div class="c-persona-card__apellidos">RAMIREZ RAMIREZ</div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div data-id="219269" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/219269/detalle">
                                        <img loading="lazy" src="/img/nophoto-11a61d72634ad47789f777a6311393e0.png" alt="Foto de PAULA"
                                             title="Foto de PAULA" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/219269/detalle">
                                        
                                        <div class="c-persona-card__nombre">PAULA</div>
                                        <div class="c-persona-card__apellidos">RAPADO ROBLES</div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                        <div data-id="218484" class="grupo-miembros__item">
                            <div class="c-persona-card">
                                <div class="c-persona-card__foto">
                                    <a href="/investigadores/218484/detalle">
                                        <img loading="lazy" src="/img/uploaded/4692BF376FB0C5CB4B059EFDE92D0D32.jpg" alt="Foto de AURELIO BALBINO"
                                             title="Foto de AURELIO BALBINO" width="100%"/>
                                    </a>
                                </div>
                                <div class="c-persona-card__detalles">
                                    <a href="/investigadores/218484/detalle">
                                        
                                        <div class="c-persona-card__nombre">AURELIO BALBINO</div>
                                        <div class="c-persona-card__apellidos">VEGA GRANDA</div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                
        
    

                <section>
                    <h2 class="section-title">Classifications</h2>
                    <ul class="grupo-clasificaciones">     
                        <li>
                            <span>area-rama-conocimiento: </span>
                            <span>Ingeniería y Arquitectura</span>
                        </li>
                    </ul>
                </section>

                
        
    

                

                <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    

    
</html>


                <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    
    
    <section class="publicaciones-topics-topn">
        <h2 class="section-title">
            <span>beta</span>
            Prevailing specialties (top 9)
            <a href="#" class="publicaciones-topics-topn-help">
                <small>Obtained from publications <i class="material-icons">help</i></small>
            </a>
            <div class="publicaciones-topics-topn-help publicaciones-topics-topn-help-detail">
                <small>Obtained from publications</small>
                <p>The displayed thematic specialties have been obtained through the application of artificial intelligence models, derived as a result of the Hercules Project from those publications with an abstract, provided that the record does not come from commercial databases, which impose restrictions on data usage.</p>
                <footer class="publicaciones-topics-topn-help-disclaimer">The list may contain errors. Under evaluation and improvement. Shared to gather community suggestions.</footer>
            </div>
        </h2>
        <ol>
            <li style='color: #ff0000'>
                <a href="publicaciones?herculesThematic=Organic%20Chemistry" title='Filter publications by &quot;Organic Chemistry&quot;' style="width: 100%">
                    Organic Chemistry (Chemistry) <small class="topic-hover-feedback">Filter</small>
                    <span class="bar" data-value="2" style="width: 100%"></span>                    
                </a>
            </li>
            <li style='color: #ff0000'>
                <a href="publicaciones?herculesThematic=Artificial%20Intelligence" title='Filter publications by &quot;Artificial Intelligence&quot;' style="width: 50%">
                    Artificial Intelligence (Computer Science) <small class="topic-hover-feedback">Filter</small>
                    <span class="bar" data-value="1" style="width: 100%"></span>                    
                </a>
            </li>
            <li style='color: #ff0000'>
                <a href="publicaciones?herculesThematic=Bioengineering" title='Filter publications by &quot;Bioengineering&quot;' style="width: 50%">
                    Bioengineering (Chemical Engineering) <small class="topic-hover-feedback">Filter</small>
                    <span class="bar" data-value="1" style="width: 100%"></span>                    
                </a>
            </li>
            <li style='color: #ffff00'>
                <a href="publicaciones?herculesThematic=Economics" title='Filter publications by &quot;Economics&quot;' style="width: 50%">
                    Economics (Economics, Econometrics and Finance) <small class="topic-hover-feedback">Filter</small>
                    <span class="bar" data-value="1" style="width: 100%"></span>                    
                </a>
            </li>
            <li style='color: #ffff00'>
                <a href="publicaciones?herculesThematic=Education" title='Filter publications by &quot;Education&quot;' style="width: 50%">
                    Education (Social Sciences) <small class="topic-hover-feedback">Filter</small>
                    <span class="bar" data-value="1" style="width: 100%"></span>                    
                </a>
            </li>
            <li style='color: #ff0000'>
                <a href="publicaciones?herculesThematic=Environmental%20Chemistry" title='Filter publications by &quot;Environmental Chemistry&quot;' style="width: 50%">
                    Environmental Chemistry (Environmental Science) <small class="topic-hover-feedback">Filter</small>
                    <span class="bar" data-value="1" style="width: 100%"></span>                    
                </a>
            </li>
            <li style='color: #ff0000'>
                <a href="publicaciones?herculesThematic=Polymers%20and%20Plastics" title='Filter publications by &quot;Polymers and Plastics&quot;' style="width: 50%">
                    Polymers and Plastics (Materials Science) <small class="topic-hover-feedback">Filter</small>
                    <span class="bar" data-value="1" style="width: 100%"></span>                    
                </a>
            </li>
            <li style='color: #ff0000'>
                <a href="publicaciones?herculesThematic=Waste%20Management%20and%20Disposal" title='Filter publications by &quot;Waste Management and Disposal&quot;' style="width: 50%">
                    Waste Management and Disposal (Environmental Science) <small class="topic-hover-feedback">Filter</small>
                    <span class="bar" data-value="1" style="width: 100%"></span>                    
                </a>
            </li>
            <li style='color: #ff0000'>
                <a href="publicaciones?herculesThematic=Water%20Science%20and%20Technology" title='Filter publications by &quot;Water Science and Technology&quot;' style="width: 50%">
                    Water Science and Technology (Environmental Science) <small class="topic-hover-feedback">Filter</small>
                    <span class="bar" data-value="1" style="width: 100%"></span>                    
                </a>
            </li>
        </ol>        
    </section>
</html> 


                
        
    
                
                <section id="ex-miembros" class="grupo-miembros">
                    <h2 class="section-title section-title--filterable">
                        Former members (14)  
                    </h2>
                    <ul >
                        <li data-id="219383">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/219383/detalle">
                                    
                                    <span class="c-persona-card__apellidos">CUETO NAREDO,</span>
                                    <span class="c-persona-card__nombre">JENNIFER</span></a>                             
                                
                                
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2019</span><span class="fechaFin">2019</span></span>
                            </span>                       
                        </li>
                        <li data-id="218695">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/218695/detalle">
                                    
                                    <span class="c-persona-card__apellidos">GANCEDO VERDEJO,</span>
                                    <span class="c-persona-card__nombre">JUAN</span></a>                             
                                
                                
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2020</span><span class="fechaFin">2023</span></span>
                            </span>                       
                        </li>
                        <li data-id="219387">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/219387/detalle">
                                    
                                    <span class="c-persona-card__apellidos">GARCES ALONSO,</span>
                                    <span class="c-persona-card__nombre">DIEGO</span></a>                             
                                
                                
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2014</span><span class="fechaFin">2018</span></span>
                            </span>                       
                        </li>
                        <li data-id="219389">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/219389/detalle">
                                    
                                    <span class="c-persona-card__apellidos">GARCIA MENENDEZ,</span>
                                    <span class="c-persona-card__nombre">LAURA</span></a>                             
                                
                                
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2021</span><span class="fechaFin">2021</span></span>
                            </span>                       
                        </li>
                        <li data-id="219384">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/219384/detalle">
                                    
                                    <span class="c-persona-card__apellidos">GONZALEZ REBOLLAR,</span>
                                    <span class="c-persona-card__nombre">CELESTE</span></a>                             
                                
                                
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2013</span><span class="fechaFin">2013</span></span>
                            </span>                       
                        </li>
                        <li data-id="219390">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/219390/detalle">
                                    
                                    <span class="c-persona-card__apellidos">GUTIERREZ FERNANDEZ,</span>
                                    <span class="c-persona-card__nombre">INES</span></a>                             
                                
                                
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2013</span><span class="fechaFin">2014</span></span>
                            </span>                       
                        </li>
                        <li data-id="219388">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/219388/detalle">
                                    
                                    <span class="c-persona-card__apellidos">LEYVA DIAZ,</span>
                                    <span class="c-persona-card__nombre">JUAN CARLOS</span></a>                             
                                
                                
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2017</span><span class="fechaFin">2021</span></span>
                            </span>                       
                        </li>
                        <li data-id="218093">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/218093/detalle">
                                    
                                    <span class="c-persona-card__apellidos">PATIÑO MENENDEZ,</span>
                                    <span class="c-persona-card__nombre">YOLANDA</span></a>                             
                                
                                
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2013</span><span class="fechaFin">2024</span></span>
                            </span>                       
                        </li>
                        <li data-id="219386">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/219386/detalle">
                                    
                                    <span class="c-persona-card__apellidos">PELAEZ FERNANDEZ,</span>
                                    <span class="c-persona-card__nombre">RAQUEL</span></a>                             
                                
                                
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2016</span><span class="fechaFin">2020</span></span>
                            </span>                       
                        </li>
                        <li data-id="219261">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/219261/detalle">
                                    
                                    <span class="c-persona-card__apellidos">QUESADA SANCHEZ,</span>
                                    <span class="c-persona-card__nombre">JORGE</span></a>                             
                                
                                
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2014</span><span class="fechaFin">2019</span></span>
                            </span>                       
                        </li>
                        <li data-id="219268">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/219268/detalle">
                                    
                                    <span class="c-persona-card__apellidos">RAPADO GALLEGO,</span>
                                    <span class="c-persona-card__nombre">PABLO</span></a>                             
                                
                                
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2022</span><span class="fechaFin">2024</span></span>
                            </span>                       
                        </li>
                        <li data-id="219269">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/219269/detalle">
                                    
                                    <span class="c-persona-card__apellidos">RAPADO ROBLES,</span>
                                    <span class="c-persona-card__nombre">PAULA</span></a>                             
                                
                                
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2022</span><span class="fechaFin">2023</span></span>
                            </span>                       
                        </li>
                        <li data-id="219385">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/219385/detalle">
                                    
                                    <span class="c-persona-card__apellidos">RODRIGUEZ ZAPICO,</span>
                                    <span class="c-persona-card__nombre">RITA</span></a>                             
                                
                                
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2013</span><span class="fechaFin">2014</span></span>
                            </span>                       
                        </li>
                        <li data-id="219354">
                            <span class="c-persona-card__detalles">
                                <a href="/investigadores/219354/detalle">
                                    
                                    <span class="c-persona-card__apellidos">URSUEGUIA BORJA,</span>
                                    <span class="c-persona-card__nombre">DAVID</span></a>                             
                                
                                
                                <span class="c-persona-card__fechas"><span class="fechaInicio">2020</span><span class="fechaFin">2023</span></span>
                            </span>                       
                        </li>
                    </ul>
                </section>

                
        
    


            </div>

        
        </main>

        <nav class="site-navfooter">
            
    
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul>
                        
                        <li><a href="/contacto">Contact</a></li>
                        
                        <li><a href="/aviso_legal">Legal notice</a></li>
                        <li><a href="/mapa_sitio">Site map</a></li>
                        
                    </ul>                                        
                </div>
                <div>
        <div class="c-langselect">
            <a href="https://portalinvestigacion.uniovi.es/grupos/13968/detalle" tabindex="0" class="c-langselect--trigger" title="Change language">
                <i class="material-icons material-icons--translate">translate</i> en <i class="material-icons">arrow_drop_down</i>
            </a>
            
            <div class="mdc-menu mdc-menu-surface">
                <div class="mdc-list">
                    <a href="https://portalinvestigacion.uniovi.es/grupos/13968/detalle?lang=en" title="English">
                        <i class="material-icons material-icons--translate">translate</i> en <i class="material-icons">arrow_drop_down</i>
                    </a>
                    <a class="mdc-list-item" href="https://portalinvestigacion.uniovi.es/grupos/13968/detalle?lang=es"
                       data-lang="es"
                       onclick="document.cookie=&#39;pciencia.LOCALE=&#39;+this.dataset.lang"
                       title="Español">
                        es
                    </a><a class="mdc-list-item" href="https://portalinvestigacion.uniovi.es/grupos/13968/detalle?lang=ca"
                       data-lang="ca"
                       onclick="document.cookie=&#39;pciencia.LOCALE=&#39;+this.dataset.lang"
                       title="Català i valencià">
                        ca
                    </a><a class="mdc-list-item" href="https://portalinvestigacion.uniovi.es/grupos/13968/detalle?lang=eu"
                       data-lang="eu"
                       onclick="document.cookie=&#39;pciencia.LOCALE=&#39;+this.dataset.lang"
                       title="Euskara">
                        eu
                    </a><a class="mdc-list-item" href="https://portalinvestigacion.uniovi.es/grupos/13968/detalle?lang=gl"
                       data-lang="gl"
                       onclick="document.cookie=&#39;pciencia.LOCALE=&#39;+this.dataset.lang"
                       title="Galego">
                        gl
                    </a><a class="mdc-list-item" href="https://portalinvestigacion.uniovi.es/grupos/13968/detalle?lang=en"
                       data-lang="en"
                       onclick="document.cookie=&#39;pciencia.LOCALE=&#39;+this.dataset.lang"
                       title="English">
                        en
                    </a><a class="mdc-list-item" href="https://portalinvestigacion.uniovi.es/grupos/13968/detalle?lang=fr"
                       data-lang="fr"
                       onclick="document.cookie=&#39;pciencia.LOCALE=&#39;+this.dataset.lang"
                       title="Francais">
                        fr
                    </a><a class="mdc-list-item" href="https://portalinvestigacion.uniovi.es/grupos/13968/detalle?lang=de"
                       data-lang="de"
                       onclick="document.cookie=&#39;pciencia.LOCALE=&#39;+this.dataset.lang"
                       title="Deutsch">
                        de
                    </a>
                </div>
            </div>
        </div>        
    </div>
            </div>
        </div>
    

        </nav>
        <footer class="site-footer">
            
    
    
        <section class="site-footer__container">
            <div class="site-footer__inner">
                <div class="site-footer__column">
                    <span class="site-footer__column-title">Relevants</span>
                    <ul class="site-footer__nav">
                        <li><a target="_blank" href="https://www.uniovi.es/">Oviedo University</a></li>
                        <li><a target="_blank" href="https://buo.uniovi.es/">Library</a></li>
                        <li><a target="_blank" href="https://digibuo.uniovi.es/dspace/">RUO</a></li>
                        <li><a target="_blank" href="https://accesoabiertouniovi.wordpress.com/">Blog Difunde Uniovi</a></li>
                    </ul>
                </div>
                <div class="site-footer__column">
                    <span class="site-footer__column-title">Research</span>
                    <ul class="site-footer__nav">
                        <li><a target="_blank" href="https://www.uniovi.es/en/conocenos/gobierno/vicerrectorados/investigacion">Research Vice-rectorate</a></li>
                        <li><a target="_blank" href="https://www.uniovi.es/conocenos/gobierno/vicerrectorados/transferencia">Knowledge Transfer Vice-rectorate</a></li>
                    </ul>
                </div>
                <div class="site-footer__column">
                    

    
        <div class="site-footer__column--social">
            <span class="site-footer__column-title">UniOvi in the network</span>
            <ul>
                <li>
                    <a target="_blank" href="https://www.facebook.com/UniversidadOviedo">
                        <img src="/img/social/facebook.png" alt="Facebook"/>
                        Facebook
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://bsky.app/profile/universidadoviedo.bsky.social">
                        <img src="/img/social/bsky.png" alt="BlueSky"/>
                        BlueSky
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/accounts/login/?next=/universidad_de_oviedo/">
                        <img src="/img/social/instagram.png" alt="Instagram"/>
                        Instagram
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.youtube.com/user/uniovi">
                        <img src="/img/social/youtube.png" alt="Youtube"/>
                        Youtube
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/school/uniovi/mycompany/verification/">
                        <img src="/img/social/linkedin.png" alt="LinkedIn"/>
                        LinkedIn
                    </a>
                </li>
            </ul>
        </div>
    
    

                </div>
            </div>
            <div class="site-footer__colaboracion">
                <p>With the collaboration of: </p>
                <div class="site-footer__logo">
                    <img src="/img/ministerio-fecyt-con-banderas-01_JPG.jpg" alt="Logo Ministerio Fecyt"/>
                </div>
            </div>
        </section>
    
    

            
    
    
        <div class="site-actualizacion__container">
            <div class="info-container">
                Data updated as of:
                16-07-2026
                <i class="material-icons">info</i>
                <div class="info-content">
                    <p>Portal documents are updated daily. This date refers to the updating of information related to the portal structure (people, research groups, organizational units, projects...).</p>
                </div>
            </div>
        </div>
    

            
    
    
        <div class="site-footer__copyright">
            <div>
                <span>CRIS project developed in collaboration with <strong><a target="_blank" href="https://fundaciondialnet.unirioja.es/" class="externo">Fundación Dialnet</a> (<a target="_blank" href="https://www.unirioja.es/" class="externo">University of La Rioja</a>)</strong></span>
            </div>
        </div>       
        


        </footer>

        






        

    

    
    

        
    </body>
</html>
